@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4"><b>Coding with C#</b></h1>
    <ol>
        <li>Be persistent</li>
        <li>Stick to a routine</li>
        <li>Focus on the fundamentals</li>
        <li>Build hands on projects, no matter what level of experience you have</li>
        <li>And don't be afraid to ask for help</li>
    </ol>
    <img src="https://images.pexels.com/photos/2740956/pexels-photo-2740956.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Motivation Photo" width="500" height="300">
</div>
